
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Gelasio', serif
}
.border {
    border: 2px solid black
}
.section-two
 {
    padding: 5% 
}


.intro {
    display: flex;
    background: url('/assets/Images/background.jpg');
    background-size: cover;
    
}
.intro-text {
    margin: 12rem auto;
    color: black;
}
.grid, .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 15px
}

.card-image img {
    width: 300px;
    height: 300px
}
.section-two h4 {
    text-align: center;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    font-size: 18px;
}
.skills-container ul:first-child {
    margin-left: auto
}
.skills-container ul {
    list-style: none;
  }
  .skills-container ul li::before {
    content: "";
    background-image: url('/assets/Images/check-mark.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
  }
.learning, .contact {
    text-align: center;
}
.contact {
    color:#f5f5f5;
    margin: 0 auto;
    padding: 1rem 1.5rem
}
.contact h5 {
    text-transform: uppercase;
}
.contact a {
    color: whitesmoke
}

@media (max-width: 768px) {
    .intro-text {
        margin: 5rem auto;
        padding: 1rem
    }
}
@media (max-width: 425px) {
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 16px
    }
    h4 {
        font-size: 12px
    }
    h5 {
        font-size: 10px
    }
    h6 {
        font-size: 8px
    }
    p {
        font-size: 14px !important
    }
    
}
