
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Gelasio', serif
}
.border {
    border: 2px solid black
}
.section-two,
.section-three,
.section-five,
.section-six {
    padding: 5% 
}


.intro {
    display: flex;
    height: 90vh;
    background: url('/assets/Images/background.jpg');
    background-size: cover;
    
}
.intro-text {
    margin: 8rem auto;
    color: black;
}
li {
    list-style: check;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 15px
}

.card-image img {
    width: 300px;
    height: 300px
}


