
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Gelasio', serif
}
.border {
    border: 2px solid black
}
.section-two,
.section-three,
.section-five,
.section-six {
    padding: 5% 
}


.intro {
    display: flex;
    height: 90vh;
    background: url('/assets/Images/—Pngtree—silver\ black\ metallic\ geometric\ hexagon_740162.png');
    background-size: cover;
    
}
.intro-text {
    margin-top: 12%;
    margin-left: 3rem;
    color: white;
}

.card-image img {
    width: 300px;
    height: 350px
}


